* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
}

body {
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: #222;
}

h1 {
    width: 100%;
    font-size: 24px;
    margin-bottom: 40px;
    max-width: 880px;
}

h2 {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 880px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 880px;
}

.code_block {
    margin-top: 30px;
    background: #282c34;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    max-width: 880px;
    font-size: 12px;
}

.code_block + .code_block {
    margin-top: 10px !important;
    margin-bottom: 80px;
}

.wrapper .left,
.wrapper .right {
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
}

.wrapper .row {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.wrapper .left {
    flex-basis: 0;
    border: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper .right {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon_item {
    width: 32px;
    height: 32px;
    border: 1px solid #444;
    border-radius: 3px;
    overflow: hidden;
}

.icon_item.md {
    width: 48px;
    height: 48px;
}

.icon_item.lg {
    width: 64px;
    height: 64px;
}

.anime_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 10px;
}

.anime_item > div {
    width: 94px;
    height: 120px;
    border: 1px solid #444;
    border-radius: 3px;
    overflow: hidden;
}

.wrapper + h2 {
    margin-top: 40px;
    padding-top: 40px;
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
    line-height: 1.4;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}
